<!-- 课程详情 -->

<%- include header %>
<link rel="stylesheet" href="/stylesheets/course-detail.css">

<div class="page course-detail" style="display: block;">
  <!-- 标题栏 -->
  <header class="bar bar-nav">
    <a class="icon icon-left pull-left back"></a>
    <h1 class="title"><%= post.title %>-课程详情</h1>
  </header>

  <div class="content">
    <div class="content-block J_lessonDetail">
      <img class="main-img" src="/images/favicon.png">
      
      <div class="detail">
        <h3>
          <%= post.title %>
          <a href="/u/<%= post.name %>"><%= post.name %></a> 
          <% if (user && (user.name == post.name)) { %>
            <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
            <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
          <% } %>
        </h3>
        <p>
          <%= post.time.minute %>
          <a class="tag" href="/tags/<%= post.tags %>"><%= post.tags %></a>
        </p>
        <p class="c-detail"><%- post.post %></p>
      </div>

      <p>阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
      <%- include comment %>
    </div>      
  </div>
  
  <!-- 立即报名 -->
  <a class="a-btn" href="<%- post.link %>" target="_blank">查看课程演示</a>
</div>

<%- include footer %>