<!-- 网址 这一项需要加上 http:// 前缀，否则在生成连接的时候会基于当前 url （本地是 localhost:3000） -->

<%- include header %>
<link rel="stylesheet" href="/stylesheets/edit.css">

<div class="page course-detail" style="display: block;">
  <!-- 标题栏 -->
  <header class="bar bar-nav">
    <a class="icon icon-left pull-left back"></a>
    <h1 class="title"><%= user.name %>-个人信息修改</h1>
  </header>

  <div class="content">
    <div class="content-block J_lessonDetail">
      <form method="post">
        昵称：<br />
        <input type="text" name="nickname" value="<%= post.nickname %>" /><br />
        个人介绍：<br />
        <textarea name="info" rows="10"><%= post.info %></textarea><br />
        <input type="submit" value="保存修改" />
      </form>
    </div>      
  </div>
</div>

<%- include footer %>